{{#interfaceModels}}
  {{^vendorExtensions.hasInterfaceModels}}// inherited fields from {{{classname}}}{{/vendorExtensions.hasInterfaceModels}}
  {{classname}}TypeTransformer.fromJsonAsAny(__val, __init);
{{/interfaceModels}}

{{#vars}}
  {{^isInherited}}
    {{#isNullable}}
      if (__val['{{{baseName}}}'] !== null && __val['{{{baseName}}}'] !== undefined) {
    {{/isNullable}}
    {{#vendorExtensions.x-ts-additional-props}}
      {
      const __p: Record<string,{{{vendorExtensions.x-property-ref}}}> = {};
      const __keys = Object.keys(__val.{{{name}}}) as Array<{{{vendorExtensions.x-property-ref}}}>;
      for(let __prop of __keys) {
      if (__val.{{{BaseName}}}.hasOwnProperty(__prop)) {
      __p[{{#isMap}}ObjectSerializer.deserialize({{/isMap}}__prop{{#isMap}}, '{{vendorExtensions.x-property-ref}}'){{/isMap}}] = {{#vendorExtensions.x-ts-optimize}}__val.{{{baseName}}}[__prop]{{/vendorExtensions.x-ts-optimize}}{{^vendorExtensions.x-ts-optimize}}ObjectSerializer.deserialize(__val.{{{baseName}}}[__prop], '{{{vendorExtensions.x-ts-additional-props}}}'){{/vendorExtensions.x-ts-optimize}};
      }
      __init['{{{name}}}'] = __p;
      }
      }
    {{/vendorExtensions.x-ts-additional-props}}
    {{^vendorExtensions.x-ts-additional-props}}
      __init['{{{name}}}'] = {{#vendorExtensions.x-ts-optimize}}__val['{{{baseName}}}']{{/vendorExtensions.x-ts-optimize}}{{^vendorExtensions.x-ts-optimize}}ObjectSerializer.deserialize(__val.{{{baseName}}}, '{{{vendorExtensions.x-ts-deserialize-type}}}'){{/vendorExtensions.x-ts-optimize}};
    {{/vendorExtensions.x-ts-additional-props}}
    {{#isNullable}}
      }
    {{/isNullable}}
  {{/isInherited}}
{{/vars}}
{{#additionalPropertiesType}}
  {{^vendorExtensions.x-additional-properties-inherited}}
    for(let __prop in __val) {
    if ({{classname}}TypeTransformer.otherProperties.indexOf(__prop) === -1 && __val.hasOwnProperty(__prop)) {
    __init[__prop] = {{#vendorExtensions.x-ts-optimize}}__val[__prop]{{/vendorExtensions.x-ts-optimize}}{{^vendorExtensions.x-ts-optimize}}ObjectSerializer.deserialize(__val[__prop], '{{{additionalPropertiesType}}}'){{/vendorExtensions.x-ts-optimize}};
    }
    }
  {{/vendorExtensions.x-additional-properties-inherited}}
{{/additionalPropertiesType}}
