/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}

{{^withSeparateModelsAndApi}}
export * from "./api";
{{/withSeparateModelsAndApi}}
{{#withSeparateModelsAndApi}}
  {{#generateApis}}
export * from "./{{{tsApiPackage}}}";
  {{/generateApis}}
  {{#generateModels}}
export * from './{{tsModelPackage}}';
  {{/generateModels}}
{{/withSeparateModelsAndApi}}
{{#generateApis}}
export * from "./configuration";
{{/generateApis}}
